body {
  text-align: center;
  font-family: Arial, sans-serif;
  background-color: #6388ee;
}

/* img {
  display: flex;
  flex-direction: row;
  border: 2px solid red;
} */

.board {
  display: grid;
  grid-template-columns: repeat(3, 60px);
  grid-template-rows: repeat(8, 60px);
  gap: 5px;
  margin: 20px auto;
  width: 200px;
  z-index: 2;
}

.square {
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #333;
  background-color: rgb(132 94 55);
  position: relative;
  z-index: 5;
}

.square.rosette {
  background-image: url("/images/rosette.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-clip: content-box;
  background-position: center;
  background-color: rgb(255, 0, 0);
  z-index: 1;
}

[square-id="4"],
[square-id="6"],
[square-id="8"],
[square-id="13"],
[square-id="22"] {
  background-image: url("/images/ur5dots.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-clip: content-box;
  background-position: center;
  background-color: rgb(132 94 55);
  z-index: 1;
}

[square-id="21"],
[square-id="23"] {
  background-image: url("/images/ziptile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-clip: content-box;
  background-position: center;
  background-color: rgb(132 94 55);
  z-index: 1;
}

[square-id="1"] {
  background-image: url("/images/finaltile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-clip: content-box;
  background-position: center;
  background-color: rgb(132 94 55);
  z-index: 1;
}

[square-id="7"],
[square-id="16"] {
  background-image: url("/images/4zips.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-clip: content-box;
  background-position: center;
  background-color: rgb(132 94 55);
  z-index: 1;
}

[square-id="3"],
[square-id="5"],
[square-id="9"],
[square-id="11"],
[square-id="19"] {
  background-image: url("/images/4dottile.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  background-clip: content-box;
  background-position: center;
  background-color: rgb(132 94 55);
  z-index: 1;
}

.piece {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: grab;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 20px;
}

.white {
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
}
.black {
  background-color: black;
  color: white;
}

.controls {
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.off-board {
  background-color: #6388ee;
}

/* .special-square {
  background-color: #6388ee;
} */

span {
  font-weight: bold;
  text-transform: uppercase;
}

::backdrop {
  background-image: linear-gradient(
    45deg,
    magenta,
    rebeccapurple,
    dodgerblue,
    green
  );
  opacity: 0.75;
}

dialog {
  background-color: orange;
  width: 40%;
  text-align: -webkit-left;
}

dialog ul {
  align-items: start;
}

img {
  width: 100%;
}
